


html,body{
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  background-image: url(asa.jpg);
  
  flex-direction: column;
  background-repeat: no-repeat;
}


main{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#opis{
border: 1px solid black;
}
#poch{
    border: 1px solid black;
}
#zagpoch{
    text-align: center;
}
#zagopis{
    text-align: center;
}
#back{
    margin-left: 100px;
    width: 80px;
    height: 40px;
 }